.titulo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: radial-gradient(rgb(11, 117, 255),rgb(17, 0, 255));

}