#titulo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: radial-gradient(rgb(18, 14, 228),rgb(2, 0, 150));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.titulo-del-sitio{
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.especializaciones{
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

