a{
    text-decoration: none;
}
li{
    list-style: none;
}
#titulo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: rgb(43,122,181);
    background: radial-gradient(circle, rgba(43,122,181,1) 0%, rgba(45,76,108,1) 100%);
    font-family: 'Ubuntu', sans-serif;
}
.titulo-del-sitio{
    font-size: 90px;
    display: block;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.especializaciones{
    font-size: 30px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px;
}
#info, #habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
[class*="icon-"]{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background: transparent;
    transition: all 0.5s;
}
[class*="icon-"]:hover{
    background: white;
}
[class*="icon-"]:before{
    font-size: 40px;
    color: aliceblue;
}
[class*="icon-"]:hover:before{
    color: rgba(43,122,181,1);
}

.iconos-main{
    display:flex;
}
.sobre-mi p{
    width: 40%;
    margin: 20px auto;
}
ul{
    display: flex;
    margin: 30px auto;
    padding: 0;
}
ul li {
    margin: 0 20px;
}
ul li a{
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .sobre-mi p{
        width: 98%;
    }
    .titulo-del-sitio{
        font-size: 60px;
    }
}